@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/fonts/Pretendard-Medium.woff') format('woff'),
     url('../../assets/fonts/Pretendard-Medium.woff2') format('woff');
    font-family: 'Pretendard_Bold';
    
    src: url('../../assets/fonts/Pretendard-Bold.woff') format('woff');
}
.Wrap{
    font-family: 'Pretendard';
}
.About_h3{
    width: 100%;
    height: 202px;
    color:#fff;
    line-height: 202px;
    background-color: #3189FF;
    font-size: 26px;
    text-indent: 44px;
    margin-bottom: 26px;
}
.About_p1{
 
    margin-top: 26px;
    margin-bottom: 52px;
}

.About_p2{
    font-size: 16px;
    font-family: "Pretendard_Bold";
}
.About_line{
    width: 122px;
    margin-top: 13px;
    margin-bottom: 180px;
    border-top: 1px solid #707070;
}
@media (max-width: 939px) {
    .About_Wrap{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
}
