.ReferenceWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
}
.PDFListWrap {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
}
.PDFHead {
    width: 100%;
    padding: 10px 30px;
    border-bottom: 1px solid #000;
    background-color: #3189FF;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}
.PDFList {
    display: block;
    display: flex;
    font-size: 18px;
    width: 100%;
    padding: 10px 30px;
    border-bottom: 1px solid #000;
}
.PDFList p{
    margin-top: 3px;
}
.PDFList:last-child {
    border-bottom: none;
}
.PDFList::after{

    content: "";
    display: block;
    background-image: url(../../../public/images/pdf_download.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 35px;   
    margin-left: 20px;
 
 
}
