.ProductList .Wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ProductList .Wrap .ControlBar {
    width: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.ProductList .Wrap .ControlTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}
.ProductList .Wrap .Category {
    width: 100%;
    border: 1px solid #000;
    background-color: #EDEDED;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
